body{ /* Normal  */
      font-size: 16px;
}
h1 {
  font-size: 2.4em;
}
h1.title {
  font-size: 2.8em;
  text-align: center;
}
.author { 
  font-size: 1.5em;
  text-align: center;
}
.date {
  font-size: 1.5em;
  text-align: center;
}
h2 {
  font-size: 2em;
  text-align: center;
}
.caption {
  font-size: 0.9em;
  padding-top: 15px;
  padding-bottom: 15px;
}
.book .book-body .page-wrapper .page-inner section.normal a {
  color: #3344dd;
}
.book .book-header {
  color: #1b1c1c;
}
.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active>a {
  color: #3344dd;
}
h2.appendix {
  text-align: left;
}